# Node
node_modules/

# Build output
dist/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/

# Env files
.env
.env.*

# Docker
backend/db_data/

# Misc
*.local
*.sublime-workspace
*.sublime-project
